include footer-content--contact-socials-item

section.section.section--footer-follow.footer-follow
  p.footer-follow__followers 15k
    unescaped= ' '
    span followers
  .footer-follow__socials
    p Follow us:
    ul.footer-follow__socials-list
      +footer-follow__socials-item('facebook', '#')
      +footer-follow__socials-item('twitter', '#')
      +footer-follow__socials-item('instagram', '#')
      +footer-follow__socials-item('pinterest', '#')
      +footer-follow__socials-item('google', '#')
      +footer-follow__socials-item('youtube', '#')
      +footer-follow__socials-item('dribbble', '#')
      +footer-follow__socials-item('tumblr', '#')
