include ../_section/section-header
include feedbacks-item

section.section.section--feedbacks.feedbacks
  .section__overlay
  .section__container
    +section-header(
      'Happy clients',
      'What people say'
    )
    .section__content.feedbacks__content
      +feedbacks-item(
        'Matthew Dix',
        'Graphic Design',
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.',
        'dix'
      )
      +feedbacks-item(
        'Nick Karvounis',
        'Graphic Design',
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.',
        'karvounis'
      )
      +feedbacks-item(
        'Jaelynn Castillo',
        'Graphic Design',
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.',
        'castillo'
      )
      +feedbacks-item(
        'Mike Petrucci',
        'Graphic Design',
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.',
        'petrucci'
      )
