section.section.section--facts.facts
  .section__container
    ul.facts__list
      li.facts__item
        p.facts__item-count 42
        p.facts__item-type Web Design Projects
      li.facts__item
        p.facts__item-count 123
        p.facts__item-type Happy client
      li.facts__item
        p.facts__item-count 15
        p.facts__item-type Award winner
      li.facts__item
        p.facts__item-count 99
        p.facts__item-type Cup of coffee
      li.facts__item
        p.facts__item-count 24
        p.facts__item-type Members
