include ../_section/section-header
include services-item

a#service
section.section.section--services.services
  .section__container
    +section-header(
      'We work with',
      'Amazing services'
    )
    .section__content.services__content
      +services-item(
        'photo',
        'Photography',
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.'
      )
      +services-item(
        'design',
        'Web Design',
        'Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.'
      )
      +services-item(
        'creativity',
        'Creativity',
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.'
      )
      +services-item(
        'seo',
        'SEO',
        'Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.'
      )
      +services-item(
        'css',
        'CSS/Html',
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.'
      )
      +services-item(
        'digital',
        'Digital',
        'Sit amet, consectetur adipiscing elit, sed do eiusmod tempor.'
      )
