.services {
  $services-icon-size: 32px;

  &__content {
    @media (min-width: $tablet-min) {
      flex-wrap: wrap;
    }
  }

  &__item {
    --services-padding-v: 10px;
    --services-padding-r: 0;

    $_icons: (photo, design, creativity, seo, css, digital);

    @each $icon in $_icons {
      &--#{$icon} h5::before {
        @extend .icon--#{$icon};
      }
    }

    padding:
      var(--services-padding-v)
      var(--services-padding-r)
      var(--services-padding-v)
      30px + $services-icon-size;

    @media (min-width: $tablet-max) {
      --services-padding-v: 20px;
      --services-padding-r: 30px;

      flex: 1 1 50%;
      padding-left: 30px * 2 + $services-icon-size;
    }

    @media (min-width: $desktop-max) {
      flex: 1 1 33%;

      &:nth-of-type(-n+3) {
        padding-bottom: calc(25px + var(--services-padding-v));
        border-bottom: 1px solid var(--border-gray);
      }

      &:not(:nth-of-type(-n+3)) {
        padding-top: calc(25px + var(--services-padding-v));
      }
    }
  }

  h5 {
    margin-bottom: 5px;
    position: relative;

    &::before {
      top: 5px;
      left: -60px;
    }
  }
}
