include footer-content--blog-item

section.section.section--footer-blog.footer-blog
  h5.section--footer-content__title Blog
  .footer-blog__content
    +footer-blog-item('Lorem ipsum dolor sit amet, consectetur adipiscing', 'Jan 9, 2016', '1')
    +footer-blog-item('Consectetur adipiscing elit, sed do eiusmod tempor', 'Jan 9, 2016', '2')
    +footer-blog-item('sed do eiusmod tempor incididunt ut labore', 'Jan 9, 2016', '3')
