section.section.section--footer-content
  .section__container
    include ../footer-content--contact/footer-content--contact
    .section--footer-content__column
      include ../footer-content--blog/footer-content--blog
      include ../footer-content--instagram/footer-content--instagram
