
.icon--comments {
  content: '';
  width: 17px;
  height: 15px;
  background-image: url('./sprite.svg');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  position: absolute;
}

.icon--creativity {
  content: '';
  width: 32px;
  height: 28px;
  background-image: url('./sprite.svg');
  background-repeat: no-repeat;
  background-position: -17px 0px;
  position: absolute;
}

.icon--css {
  content: '';
  width: 32px;
  height: 31px;
  background-image: url('./sprite.svg');
  background-repeat: no-repeat;
  background-position: -49px 0px;
  position: absolute;
}

.icon--design {
  content: '';
  width: 32px;
  height: 32px;
  background-image: url('./sprite.svg');
  background-repeat: no-repeat;
  background-position: -81px 0px;
  position: absolute;
}

.icon--digital {
  content: '';
  width: 32px;
  height: 32px;
  background-image: url('./sprite.svg');
  background-repeat: no-repeat;
  background-position: -113px 0px;
  position: absolute;
}

.icon--dribbble {
  content: '';
  width: 16px;
  height: 17px;
  background-image: url('./sprite.svg');
  background-repeat: no-repeat;
  background-position: -145px 0px;
  position: absolute;
}

.icon--facebook {
  content: '';
  width: 9px;
  height: 17px;
  background-image: url('./sprite.svg');
  background-repeat: no-repeat;
  background-position: -161px 0px;
  position: absolute;
}

.icon--facebook_big {
  content: '';
  width: 13px;
  height: 26px;
  background-image: url('./sprite.svg');
  background-repeat: no-repeat;
  background-position: -170px 0px;
  position: absolute;
}

.icon--google {
  content: '';
  width: 16px;
  height: 15px;
  background-image: url('./sprite.svg');
  background-repeat: no-repeat;
  background-position: -183px 0px;
  position: absolute;
}

.icon--instagram {
  content: '';
  width: 16px;
  height: 17px;
  background-image: url('./sprite.svg');
  background-repeat: no-repeat;
  background-position: -199px 0px;
  position: absolute;
}

.icon--instagram_big {
  content: '';
  width: 26px;
  height: 26px;
  background-image: url('./sprite.svg');
  background-repeat: no-repeat;
  background-position: -215px 0px;
  position: absolute;
}

.icon--photo {
  content: '';
  width: 32px;
  height: 31px;
  background-image: url('./sprite.svg');
  background-repeat: no-repeat;
  background-position: -241px 0px;
  position: absolute;
}

.icon--picture {
  content: '';
  width: 30px;
  height: 30px;
  background-image: url('./sprite.svg');
  background-repeat: no-repeat;
  background-position: -273px 0px;
  position: absolute;
}

.icon--pin {
  content: '';
  width: 20px;
  height: 26px;
  background-image: url('./sprite.svg');
  background-repeat: no-repeat;
  background-position: -303px 0px;
  position: absolute;
}

.icon--pinterest {
  content: '';
  width: 13px;
  height: 17px;
  background-image: url('./sprite.svg');
  background-repeat: no-repeat;
  background-position: -323px 0px;
  position: absolute;
}

.icon--pinterest_big {
  content: '';
  width: 21px;
  height: 26px;
  background-image: url('./sprite.svg');
  background-repeat: no-repeat;
  background-position: -336px 0px;
  position: absolute;
}

.icon--seo {
  content: '';
  width: 32px;
  height: 32px;
  background-image: url('./sprite.svg');
  background-repeat: no-repeat;
  background-position: -357px 0px;
  position: absolute;
}

.icon--tumblr {
  content: '';
  width: 11px;
  height: 17px;
  background-image: url('./sprite.svg');
  background-repeat: no-repeat;
  background-position: -389px 0px;
  position: absolute;
}

.icon--twitter {
  content: '';
  width: 16px;
  height: 14px;
  background-image: url('./sprite.svg');
  background-repeat: no-repeat;
  background-position: -400px 0px;
  position: absolute;
}

.icon--twitter_big {
  content: '';
  width: 26px;
  height: 22px;
  background-image: url('./sprite.svg');
  background-repeat: no-repeat;
  background-position: -416px 0px;
  position: absolute;
}

.icon--users {
  content: '';
  width: 33px;
  height: 24px;
  background-image: url('./sprite.svg');
  background-repeat: no-repeat;
  background-position: -442px 0px;
  position: absolute;
}

.icon--view {
  content: '';
  width: 20px;
  height: 12px;
  background-image: url('./sprite.svg');
  background-repeat: no-repeat;
  background-position: -475px 0px;
  position: absolute;
}

.icon--youtube {
  content: '';
  width: 16px;
  height: 12px;
  background-image: url('./sprite.svg');
  background-repeat: no-repeat;
  background-position: -495px 0px;
  position: absolute;
}

