section.section.section--footer-contact.footer-contact
  .footer-contact__data
    p.footer-contact__logo MoGo
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  .footer-contact__data
    include ../footer-content--contact-socials/footer-content--contact-socials
    include ../footer-content--contact-subscribe/footer-content--contact-subscribe
