include ../_section/section-header

section.section.section--do.do
  .section__container
    +section-header(
      'Service',
      'What we do',
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
    )
    .section__content
      .do__img
        img(src='img/do/img/photo.jpg', alt='', width='570', height='380')
      x-accordion.do__list
        x-accordion-item(selected)
          img(src='img/do/img/photo.svg', alt='', slot='img')
          h5(slot='title') Photography
          p(slot='text') Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        x-accordion-item
          img(src='img/do/img/creativity.svg', alt='', slot='img')
          h5(slot='title') Creativity
          p(slot='text') Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        x-accordion-item
          img(src='img/do/img/design.svg', alt='', slot='img')
          h5(slot='title') Web Design
          p(slot='text') Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

  include ../do-comments/do-comments
