header.page-header
  .section__container.page-header__container
    p.page-header__logo MoGo
    x-navigation
      x-navigation-item(value='about', selected) About
      x-navigation-item(value='service') Service
      x-navigation-item(value='work') Work
      x-navigation-item(value='blog') Blog
      x-navigation-item(value='contact') Contact
      x-navigation-item(value='basket', icon='img/welcome--header/img/basket.svg') Basket
      x-navigation-item(value='search', icon='img/welcome--header/img/search.svg') Search

