a#about
section.section.section--welcome.welcome
  .section__container
    include ../welcome--header/welcome--header
    .welcome__content
      hgroup.welcome__titles
        h4 Creative Template
        h1 Welcome
          br
          | to MoGo
      a(href='#').welcome__link Learn more
