.design {
  --design-margin-v: 20px;

  display: none;
  margin-top: var(--section-margin-bottom);
  margin-bottom: var(--design-margin-v);

  @media (min-width: $tablet-max) {
    display: block;
    width: 100%;
    height: 850px;
    background: var(--overlay-bg) url(img/design/img/bg.png) center top no-repeat;
    background-size: cover;
  }

  &__content {
    width: 640px;
    height: 680px;
    margin: 0 auto;
  }

  &__img {
    margin-top: var(--design-margin-v);
  }
}
