include ../_section/section-header

section.section.section--design.design
  .section__overlay
  .section__container
    +section-header(
      'For all devices',
      'Unique design'
    )
    .section__content.design__content
      img(src='img/design/img/photo.png', alt='').design__img

