section.section.section--footer-instagram.footer-instagram
  h5.section--footer-content__title Instagram
  .footer-instagram__content
    - var n = 1
    while n < 10
      .footer-instagram__img
        img(src='img/footer-content--instagram/img/' + n++ + '.jpg', alt='', width='88', height='88')
  a(href='#') View more photos
